<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="author" content="Grayrids">
      <title>Kiev Subway Stations</title>
      <!--====== Favicon Icon ======-->
      <link rel="shortcut icon" href="{% static 'images/main/subway.png' %}">
      <!-- CSS -->
      <link rel="stylesheet" href="{% static 'css/main/path.css' %}">

      <script src="https://kit.fontawesome.com/c66d59c3a5.js" crossorigin="anonymous"></script>
    </head>  
  <body style="background-image: url('/static/images/main/path_bg.png'); 
  background-attachment: fixed;
  background-position: center;">
  <center>
  <div class="box">
    <h1 class="title">THE QUICKEST ROUTE <br> TO YOUR DESTINATION IS: </h1>
    <div style="width: 400px;">
      <h3 class="cost">Distance: {{ distance }}m</h3>
      <h3 class="cost">Time: {{ time }}</h3>
      <h3 class="advise">{{ advise }}</h3>
    </div>

    <div style="width: 100px; margin-top: -10px;">
      <div>
        <div style="background-color: red; height: 20px; width: 20px; display: inline-block;"></div><h3 style="display: inline-block; margin-left: 10px; color: #eeebf6;">L1</h3>
      </div>
      <div style=" margin-top: -30px;">
        <div style="background-color: blue; height: 20px; width: 20px; display: inline-block;"></div><h3 style="display: inline-block; margin-left: 10px; color: #eeebf6;">L2</h3>
      </div>
      <div style="margin-top: -30px;">
        <div style="background-color: green; height: 20px; width: 20px; display: inline-block;"></div><h3 style="display: inline-block; margin-left: 10px; color: #eeebf6;">L3</h3>
      </div>
    </div>


    <div class="stops">
      {% for key, value in colors.items %}
      <div id="div1" class="stop-box" style=" width: 120px; height: 50px; background: {{ value }}; position:relative; border-radius: 20px;">
        <h5 class="stop">{{ key }}</h5>
      </div>
      {% if forloop.counter != colors|length %}
        <div class = "vertical" style="border-color: {{ value }}"></div>
      {% endif %}
      {% endfor %}
    </div>
    <br>
    <br>

  </div>  
  </center>


  </body>